+font('barlowRegular', barlowcondensed-regular)

=georgia-font
	font-family: "Georgia", serif
=barlow-font
	font-family: barlowRegular, sans-serif

html
	font-size: 12px

body
	display: flex
	flex-direction: column
	background-color: $bg-color
	background-image: url(../img/bg/sky.jpg), url(../img/bg/sky_pattern.jpg)
	background-repeat: no-repeat,repeat
	background-size: 100%,150px
	background-position: top,50%
	color: $c-normal
	font-weight: 400
	+georgia-font

	+r($screen-lg)
		background-image: none

.container
	max-width: 1000px
	padding: 0 31px
	margin: 0 auto
	background-color: $container-color

	+r($screen-lg)
		padding: 0 10px

	&--fluid
		padding: 0

		+r(960)
			padding: 0

svg
	display: block
	width: 100%
	height: 100%
	fill: currentColor

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	clip: rect(0 0 0 0)
	overflow: hidden

.close-btn
	display: block
	width: 26px
	height: 26px
	padding: 3px
	opacity: .6
	transition: opacity $anim--long

@keyframes a
	0%,to
		transform: translateX(0)

	70%
		transform: translateX(10px)

@keyframes b
	0%
		transform: translate(0)

	to
		transform: translate(-160%)

