<footer class="footer-page"  id="sect-6">
  <div class="footer-page__info">
    <div class="container  container--fluid">
      <a class="footer-page__logo  logo">
        <img class="logo__pic" src="img/logo_min.svg" alt="Logo Layman">
      </a>
    </div>
  </div>
</footer>


<div hidden="">
  <svg id="svg-sprite">

    <symbol id="close" viewBox="0 0 18 18">
      <path d="M18 1.41L16.59 0 9 7.59 1.41 0 0 1.41 7.59 9 0 16.59 1.41 18 9 10.41 16.59 18 18 16.59 10.41 9z"></path>
    </symbol>

  </svg>
</div>
